$transition-time: 350ms;

.Wrapper {
  position: relative;

  span {
    font-size: 15px;
  }
}

.WrapperActive {
  @extend .Wrapper;
  z-index: 4;
}

.ExpanderBtn {
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 6px;
  width: 30px;
  height: 15px;
  padding: 0px 6px;
  background: #457B9D;
  border-radius: 8px;
  position: absolute;
  right: 0;
  top: 2px;
  cursor: pointer;
  z-index: 1;
  opacity: 1;
  letter-spacing: 1px;
}

.ExpanderBtnInactive {
  opacity: 0;
  z-index: 0;
}

.ItemContainer {
  display: grid;
  grid-auto-rows: 20px;
  row-gap: 5px;
  color: white;
  padding: 10px;
  min-width: 80px;
  min-height: 60px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 1px #686767;
  background: #457B9D;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translate3d(-100%, -20px, 0);
  transition: transform $transition-time ease, opacity $transition-time ease;

  div {
    &:hover {
      cursor: pointer;
    }
  }
}

.ItemContainerActive {
  @extend .ItemContainer;
  position: absolute;
  opacity: 1;
  z-index: 10;
  visibility: visible;
  transform: translate3d(-100%, 0px, 0);
  transition: transform $transition-time ease, opacity $transition-time ease;
}
