.SetItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 35px;
  padding: 8px 0;
  transform: translateX(0);
  position: relative;
  align-items: center;
}

.SetItemComplete {
  @extend .SetItem;
  background: #a5caa573

  input {
    background: #a5caa573;
    border: 1px solid #a5caa573;
    color: #a5caa573;
  }

}

.SetItemNum {
  padding-left: 14px;
}

.SetItemDelete {
  position: absolute;
  width: 350px;
  right: -360px;
  top: 0;
  bottom: 0;
  background: rgb(203, 70, 70);
  display: grid;

  span {
    padding-left: 10px;
    padding-top: 12px;
    color: white;
    font-weight: bold;
  }
}
