.Wrapper {
  display: grid;
  row-gap: 20px;
}

.Sets {
  display: grid;
  row-gap: 2em;
  overflow: hidden;
}

.ModalContent {
  // label {
  //   margin-bottom: 10px;
  // }
}

.ModalContentTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
