.Wrapper {
  display: grid;
  row-gap: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Sets {
  display: grid;
  row-gap: 2em;
  overflow: hidden;
}

.ModalContent {
}

.ModalContentTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.FinishModalTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.FinishModalActions {
  display: grid;
  row-gap: 10px;
}
