
@mixin GridLayout() {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20px;
}

.SetWrapper {
  margin-bottom: 20px;
}

.Title {
  color: #0093ff;
}

.SetHeaders {
  @include GridLayout();
  margin: 10px 0px;
}

.TitleWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.Exercises {
  display: grid;
  row-gap: 15px;
}

.AddSetBtn {
  display: flex;
  justify-content: center;
  background: rgb(213, 213, 213);
  border-radius: 8px;
  font-size: 14px;
  padding: 3px;
}
