.PillButton {
  display: flex;
  justify-content: center;
  background: rgb(213, 213, 213);
  border-radius: 8px;
  font-size: 14px;
  padding: 3px;
}

.Secondary {
  background: rgb(180, 202, 227);
}
